Source: etcd3-gateway
Section: net
Priority: optional
Maintainer: Neil Jerram <neil@projectcalico.org>
Build-Depends: debhelper (>= 8.0.0), dh-systemd, python-all (>= 2.6), python-setuptools, python-pbr
XS-Python-Version: >= 2.6
Standards-Version: 3.9.4

Package: etcd3-gateway
Architecture: all
Depends:
 ${misc:Depends},
 python-pbr,
 python-babel,
 python-eventlet,
 python-six
Description: etcd3 gateway Python Client
 A python client for etcd3 grpc-gateway v3alpha API
